.centerBox {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerBox h1{
  font-family: 'Monoton', 'Rye', 'Orbitron';
}

h2 {
  padding: 0 20px;
  font-size: 2.6em;
  margin: 5px;
}

h2 div {
  width: 50px;
  text-align: center;
  border-bottom: 1px solid #ff5155;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

