:root {
  --inputBoxTextColor: #032228;
  --textColor: #ff5155;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

* {
  box-sizing: border-box;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--inputBoxTextColor);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--inputBoxTextColor);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--inputBoxTextColor);
}

body {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  background-image: url(./assets/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
  color: var(--textColor);
  font-family: "Audiowide";
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#000000, #063c47);
  margin: 0px;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 0px;
  font-size: 8em;
}

p {
  margin: 0px;
}

input[type="text"] {
  width: 100%;
  border-radius: 15px;
  margin: 25px 0 0 0;
  padding: 20px;
  /* box-shadow: 0 15px 40px -20px rgba(0, 64, 102, 0.4); */
  /* box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8); */
  background-color: #ffffff;
  font-size: 3.5em;
  color: var(--inputBoxTextColor);
  text-transform: uppercase;
}

select {
  appearance: none;
  width: 100%;
  border-radius: 15px;
  margin: 25px 0 0 0;
  padding: 20px;
  /* box-shadow: 0 15px 40px -20px rgba(0, 64, 102, 0.4); */
  /* box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8); */
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: transparent;
  font-size: 3.5em;
  color: #97a5a7;
  text-transform: uppercase;
  cursor: pointer;
}

select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

input:focus,
select:focus {
  border-radius: 15px;
  outline: #ff5155 auto 0px;
  border: solid 2px #ff5155;
}

.btn {
  font-family: "Audiowide";
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 4.8em;
  cursor: pointer;
  display: inline-block;
  color: var(--textColor);
  text-align: center;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.btn svg {
  padding-top: 8px;
}

.btn:focus {
  outline: #ff5155 auto 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.commonText {
  margin: 0;
  font-size: 44px;
  text-align: left;
  color: #ff5155;
  margin: 0 0 10 0;
}

.gameTitle {
  font-family: "Monoton", "Rye", "Orbitron";
}

.countDown {
  font-family: "Rye", "Orbitron";
}

.container {
  width: 100%;
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  margin: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex: 1 0 auto; */
  /* align-items: center;
  justify-content: center; */
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
  height: 70vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  position: relative;
  animation: movelogo 2s;
}

@keyframes movelogo {
  from {
    bottom: 100px;
  }
  to {
    bottom: 0px;
  }
}

.bottomEntry {
  position: relative;
  animation: moveBottom 2s;
}

@keyframes moveBottom {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}

.popout {
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;
}
@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.0);
  }
  to {
    transform: scale(1);
  }
}

.pulseEffect {
  animation: pulse 0.5s ease-in infinite;
}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}
